.detail-img:hover .detail-text {
    opacity: 1 !important;
}

.detail-img:hover .detail-text-overlay {
    opacity: 0.4 !important;
}

.detail-text {
    opacity: 0 !important;
    transition: all 0.3s ease-in-out;
}

.detail-text-overlay {
    opacity: 0 !important;
    transition: all 0.3s ease-in-out;
}
